.intropoints {
  border-style: solid;
  border-width: medium;
  border-color: black;
}

.intropoints {
  color: darkblue;
  float: left;
  font-size: 15pt;
  text-align: left;
  padding-bottom: 20px;
  padding-top: 0px;

  width: 100%;
  margin-top: 10px;
  line-height: 50px;
}

.introname {
  border-style: solid;
  border-width: medium;
  border-color: black;
  margin-top: 25px;
}

.login-face {
  border-style: solid;
  border-width: medium;
  border-color: black;
  padding-top: 55px;
  line-height: 25px;
  padding-bottom: 50px;
  margin-top: 10px;
}
