* {
  box-sizing: border-box;
  /* background: url("https://s3-us-west-1.amazonaws.com/schmitzbucket/healthcare-42440_640.png"); */
}

body {
  background: url("https://s3-us-west-1.amazonaws.com/schmitzbucket/healthcare-42440_640.png")
    fixed no-repeat;

  background-position: center;
  background-color: black;
}

.App {
  text-align: center;
}

.App-header,
.toolbar {
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
